@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  background: url("as.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  gap: 30px;
}

.judul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px
}

.input {
    width: 100%;
    height: 100%;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    color: rgb(26, 26, 96);
    padding: 20px;
  }

.hasil {
    width: 500px;
    height: 100%;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    color: black;
    padding: 20px;
  }

.pesan{
  width: 420px;
  height: 210px;
  background: transparent;
  color: black;
  border-radius: 10px;
  padding: 5px 10px;
}

.pesan h1 {
    font-size: 20px;
    text-align: center;
  }

.pesan .input-box {
    position: relative;
    max-width: 400;
    overflow-wrap: break-word;
    height: 50px;
    margin: 10px 0;
  }

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(54, 25, 140, 0.495);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
  }

.input .btn {
    width: 100%;
    height: 45px;
    background: rgb(103, 103, 243);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: 0#333;
    font-weight: 6ee;
  }

.btn1 .btn{
  background-color: rgb(255, 255, 255);
}


.Enkripsi {
  width: 420px;
  height: 100px;
  background: transparent;
  color: black;
  border-radius: 10px;
  padding: 5px 10px;
}

.hasil h1 {
    font-size: 20px;
    text-align: center;
  }

.judul3 {
    font-size: 10px;
}

.button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px
}

.message {
  word-wrap: break-word;
  font-size: 20px;
  text-align: center;
}
